{% extends "base.html" %}
{% load static %}
{% block content %}

    
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'peliculas/img/3x2.jpg' %}" class="d-block w-100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{% static 'peliculas/img/finklic.jpg' %}" class="d-block w-100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{% static 'peliculas/img/100.jpg' %}" class="d-block w-100" height="500">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container">
        <header class="py-4">
            <h1 class="text-center">Búsqueda de Películas</h1>
        </header>

        <section class="my-5">
            <form action="{% url 'resultados_peliculas' %}" method="get">
                <div class="mb-3">
                    <label for="pelicula" class="form-label">Nombre de la Película</label>
                    <input type="text" class="form-control" id="pelicula" name="pelicula" required>
                </div>
                <div class="mb-3">
                    <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
                </div>
                <div class="mb-3">
                    <label for="fecha_devolver" class="form-label">Fecha de Devolución</label>
                    <input type="date" class="form-control" id="fecha_devolver" name="fecha_devolver" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}