{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="registro " id="carga" onload="deshabilitaRetroceso()" style="height: max-content; width: 40%;justify-content:center;margin:auto; text-align:center;">
    <h2>PEDIDO REALIZADO CON ÉXITO</h2>
    <p id="usuario">Hola: {{request.user}} </p>
    <p>A continuación podrás ver los detalles de tu pedido</p>
    <p id="pedido-numero">Número de pedido: {{ pedido.id }}</p>

    <h3>Detalles de las peliculas rentadas:</h3>
    <ul>
        {% for linea in lineas_pedido %}
        <li id="lineas-pedido">
            <b>Producto: {{linea.pelicula.titulo}}</b><br>
            Producto ID: <span class="producto-id">{{ linea.pelicula_id }}</span><br>
            Cantidad: <span class="dias">{{ linea.dias }}</span><br>
            Sub-total:
            {% if linea.pelicula.descuento > 0 %}
            <span class="precio">${{ linea.pelicula.precio_final }}</span>
            {% else %}
            <span class="precio">${{ linea.pelicula.precio }}</span>
            {% endif %}
        </li>
        <hr style="color:darkred;">
        {% empty %}
        <p>No hay productos en el pedido.</p>
        {% endfor %}
        {% if  descuento  > 0 %}
            <li><strong> $ {{total_carro_con_descuento|floatformat:2 }} mxn</strong></li>
            <li> usted ahorro: $ {{ ahorro }}</li>
        
        {% else %}
            <li><p id="total"><b>TOTAL:$ {{ importe_total_carro }} mxn</b></p></li>
        {% endif %}

    </ul>
    <p>Gracias por tu compra, {{ request.user.username }}!</p>

    <b><a href="{% url 'busqueda_peliculas' %}">Volver al inicio</a></b>
    <br />
     <a href="{% url 'generar_pdf_pedido' pedido.id %}" class="btn btn-success">GENERAR PDF (django)</a>
    <a href="{% url 'generar_excel_pedido' pedido.id %}" class="btn btn-success">GENERAR EXCEL (django)</a>
    
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

{% endblock %}
