{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Lista de Clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Membresía</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.detalles_membresia }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente_id=cliente.id %}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}