{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'clientes/css/style.css' %}">
</head>
    <body>
        <div class="login-container">
            <div class="info-section">
                <h2>Bienvenido</h2>
                <p>Vamos a buscar tu cuenta para iniciar sesión o registrarte.</p>
            </div>
            <div class="form-section">
                <h2>Iniciar Sesión</h2>
                
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="id_username">Usuario</label>
                        {{ form.username }}
                    </div>

                    <div class="form-group">
                        <label for="id_password">Contraseña</label>
                        {{ form.password }}
                    </div>

                    <button type="submit" class="btn-primary">Iniciar Sesión</button>
                </form>
                <div class="extra-options">
                    <a href = "{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                    <a href = "{% url 'autentificar' %}">Crear una cuenta</a>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}