{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membresías</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Membresías</h1>
        <div class="row justify-content-center">
            {% for membership in memberships %}
            <div class="col-md-4">
                <div class="membership-card">
                    <div class="membership-header {% if membership.membership_type == 'Gold' %}gold{% elif membership.membership_type == 'Silver' %}silver{% endif %}">
                        <h2>{{ membership.membership_type }}</h2>
                    </div>
                    <div class="membership-body">
                        <p>{{ membership.description }}</p>
                        <p><strong>Precio:</strong> ${{ membership.price }}</p>
                    </div>
                    <div class="membership-footer">
                        <a href="{% url 'membership_detail' membership.slug %}" class="btn btn-subscribe">Ver Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}