:root {
    --primary-color: #333;
    --secondary-color: #f4b400;
    --background-color: #f4f4f4;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    padding-top: 85px; 
    height: 100%; 
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0px 10px;
    text-align: center;
    margin: 0;
}

    header h1 {
        margin: 15px;
    }

.navbar {
    background: linear-gradient(90deg, #000b82, #040d1a);
    height: 85px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding: 5px 10px;
    font-size: 14px;
}

    
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    color: var(--secondary-color);
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #4b0082;
    border: none;
    z-index: 1050;
}

.dropdown-item {
    color: #fff;
}

    .dropdown-item:hover {
        background-color: #8a2be2;
        color: #f4b400;
    }

.carousel {
    margin:auto;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 0px;
    padding-top: 0px;
}

    .carousel img, .card img {
        display: block;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

.form-control {
    border-radius: 50px;
    border: 2px solid #8a2be2;
    outline: none;
    box-shadow: none;
    padding: 0px;
    font-size: 14px;
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(244, 180, 0, 0.5);
}

.btn-outline-success {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-success:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    box-sizing: border-box;
    margin-top: 85px; 
}

.seccion {
    display: none;
}

    .seccion.active {
        display: block;
    }

form {
    max-width: 600px;
    margin: 0%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    form input, form button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    form button {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

        form button:hover {
            background-color: #0056b3;
        }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close-button:hover,
    .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    
    .carousel img, .card img {
        max-height: 300px;
    }
    
    nav ul {
        flex-direction: column;
    }
    
    nav ul li {
        margin: 10px 0;
    }
}