{% extends "base.html" %}

{% load static %}
{% block content %}
<center>
<div class="registro" style="background-color:#e8e4e4; color: #795548;">

    <table>
        <tr>
            <td style="width:80%;">
                <p> A continuacion ingresa tus datos y una breve explicacion del problema</p>
                <h3 style="color:#b10005;"> Nos pondremos en contacto lo mas pronto posible</h3>
            </td>
            <td style="width:20%;">
                <img src="{% static 'img/iconos/soporte.png' %}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>
                    <h3 style="color:#b10005;"> tambien puedes comunicarte al <br> +52 55 987 654 321</h3>
                </b>
            </td>
        </tr>
    </table>

    <center>
        <form action="/contactanos/" method="post">
            {% csrf_token %}
            <h3>Email: <input type="email" name="email" required></h3>
            <br>
            <h3>Asunto: <input type="text" name="asunto" required></h3>

            <p>Mensaje: <br> <textarea name="mensaje" rows="5" cols="40" required></textarea></p>
            <input type="submit" value="ENVIAR" style="width:40%; justify-content:center;">
        </form>
    </center>
</div>
</center>
{% endblock %}
