{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar pedido</title>
    <script src="{% static 'miMuebleria/js/app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.18/jspdf.plugin.autotable.min.js"></script>
</head>
<body onload="deshabilitaRetroceso()">
    <div class="table-responsive">
        <table class="table table-bordered" style="color: rgb(22, 21, 21);">
            <thead>
                <tr>
                    <th colspan="5" class="text-center">
                        Artículos Seleccionados
                    </th>
                </tr>
                <tr>
                    <th>Eliminar</th>
                    <th>Película</th>
                    <th>Agregar/Quitar</th>
                    <th>N. Días</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.carro and request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                <tr class="text-center">
                    <td>
                        <form method="post" action="{% url 'carro:eliminar' key %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
                        </form>
                    </td>
                    <td>{{ value.titulo }}</td>
                    <td>
                        <!--BOTÓN AUMENTAR Producto-->
                        <form method="post" action="{% url 'carro:agregar' key %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-success">+</button>
                        </form>
                        <!--BOTÓN RESTAR Producto-->
                        <form method="post" action="{% url 'carro:restar' key %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning">-</button>
                        </form>
                    </td>
                    <td>{{ value.dias }}</td>
                    {% if value.descuento > 0 %}
                    <td>$ {{ value.precio_final }}</td>
                    {% else %}
                    <td>$ {{ value.precio }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">
                        <div class="alert alert-danger text-center">
                            <p>Sin artículos</p>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right">
                        <strong>TOTAL: {{ importe_total_carro }}</strong>
                    </td>
                </tr>
                {% if request.session.carro.items %}
                <tr>
                    <td colspan="1" class="text-center">
                        <form method="post" action="{% url 'carro:vaciar' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning">Vaciar carro</button>
                        </form>
                    </td>
                    <td colspan="4" class="text-center">
                        <a href="{% url 'pedidos' %}" class="btn btn-success">Hacer pedido</a>
                    </td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
    </div>
</body>
</html>